// main rules go here

// another generic comment

body {
    font: $main-font;
    font-size: $main-font-size;

    background-color: $main-bg-color;

    margin: 0 0 50px 0; 
    border: 0;
}

.box {
    width: 30px;
    height: 30px;

    @include roundCorners(20px);
}

.box2 { 
    width: 30px;
    height: 30px;

    @include roundCorners(50%);
}